<nav class='navbar navbar-inverse navbar-fixed-top'>
    <div class='item'>
        <%= image_tag 'hn4l2m0-a.png', id: 'logo' %>
    </div>
    <!--     <div class='item'> -->
        <%#= image_tag 'cooltext1939374866.png', id: 'title-text' %>
    <!--     </div> -->
    <div class='item' id='contact-info'>
        <p id='e-mail'>praenato14@gmail.com</p>
        <p id='phone'>814-442-8281</p>
    </div>
</nav>
<div class='nav-button-bar'>
    <div class='nav-button'>
        <%= image_tag 'SVG/profile-white.png', id: 'about-button' %>
    </div>
    <div class='nav-button'>
        <%= image_tag 'blog_icon1.png', id: 'blog-button' %>
    </div>
    <div class='nav-button'>
        <%= image_tag 'portfolio.png', id: 'portfolio-button' %>
    </div>
    <div class='nav-button'>
        <%= image_tag 'cv.png', id: 'cv-button' %>
    </div>
</div>
<div id='main-title'>
  <div>
    <h1>Josiah Berkebile</h1>
    <p>Software Engineer, Adventurer</p>
  </div>
</div>
