<nav class='navbar navbar-inverse navbar-fixed-top'>
    <div class='item'>
        <%= image_tag 'hn4l2m0-a.png', id: 'logo' %>
    </div>
    <div class='item' id='contact-info'>
        <p id='e-mail'>praenato14@gmail.com</p>
        <p id='phone'>814-442-8281</p>
    </div>
</nav>
<div class='nav-button-bar'>
    <div class='nav-button'>
        <%= image_tag 'SVG/profile-white.png', id: 'about-button' %>
    </div>
    <div class='nav-button'>
        <%= image_tag 'blog-b0.png', id: 'blog-button' %>
    </div>
    <div class='nav-button'>
        <%= image_tag 'portfolio.png', id: 'portfolio-button' %>
    </div>
    <div class='nav-button'>
        <%= image_tag 'cv.png', id: 'cv-button' %>
    </div>
</div>
<div id='main-title'>
    <div>
        <h1>Software Engineer</h1>
        <p>Josiah Berkebile</p>
    </div>
    <%= image_tag 'github.png', class: 'social-button', id: 'github-button' %>
    <%= image_tag 'social-linkedin.png', class: 'social-button', id: 'linkedin-button' %>
</div>
