<div ng-controller='BlogCtrl' class='main-container' id="{{ page }}">
    <div id="blog-main">
        <div id="blog-cover">
            <div class="hard" ng-style="{'background-image':'url(' + activePost.image_url + ')'}">
                <%= render partial: 'shared/navbar', locals: { nav_buttons: ['cv', 'profile', 'portfolio'] } %>
                <div id="blog-body-container">
                    <h1>{{ activePost.title }}</h1>
                    <div class="btn read"><h2>Read</h2></div>
                </div>
                <div id="posts-list-wrapper">
                    <div class="scrollbar">
                        <div id="blog-later">  <  </div>
                        <div id="blog-posts">Posts</div>
                        <div id="blog-earlier">  >  </div>
                    </div>
                    <div class="frame" id="posts-list">
                        <ul class="slidee">
                            <%= @posts.each do |post| %>
                                <li post=<%= post[:id] %> style=<%= "background-image:url(" + asset_path(post[:cover_image])  + ")" %> >
                                    <div class="title"><%= post[:title] %></div>
                                    <div class="date"><%= post[:date] %></div>
                                    <%= image_tag post[:cover_image], hidden: true %>
                                </li>
                            <% end %>
                            <li id="end"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="blog-text">
            <% if user_signed_in? && current_user.is_admin? %>
                <div class='text-center'>
                    <a href='/blog/new' style='width: 100%; border-radius: 0;' id='create-post-link-button' class='btn btn-primary' role='button'><h2>Create New Post</h2></a>
                    <hr>
                    <br>
                </div>
            <% end %>
            <div class="bottom-bar white">
                <div class="btn btn-primary back">Back</div>
            </div>
            <div marked="activePost.content" id="blog-text-content"></div>
            <hr>
            <hr>
            <div>
                <h1>Comments</h1>
                <% if user_signed_in? %>
                    <div class='form-group'>
                        <textarea rows='3' class='form-control comments' ng-model='newComment.content'></textarea>
                    </div>
                    <div class='form-group'>
                        <button id='add-comment' class='btn btn-default'>Add</button>
                        <button id='logout' class='btn btn-danger'>Logout</button>
                    </div>
                <% else %>
                    <p>Log in/sign_up to write a comment</p>
                    <div class='form-group'>
                        <label for='email'>E-mail:</label> <input type='text' id='email' class='login form-control'>
                    </div>
                    <div class='form-group'>
                        <label for='pwd'>Password:</label> <input type='password' id='password' class='login form-control'>
                    </div>
                    <div class='form-group'>
                        <button id='login' class='btn btn-primary'>Login</button>
                        <button id='register' class='btn btn-primary'>Register</button>
                    </div>
                <% end %>
                <hr>
                <br>
                <% if user_signed_in? %>
                    <div>
                        <p id='logged-in-email'>Email: <%= current_user.email %></p>
                        <p marked='newComment.content'></p>
                        <p>Created: {{ newComment.createdDate }}</p>
                        <p>Edited: {{ newComment.editDate }}</p>
                        <hr>
                        <br>
                    </div>
                <% end %>
                <div ng-repeat='comment in comments track by $index'>
                    <p>Email: {{ comment.userName }}</p>
                    <p marked='comment.text'></p>
                    <p>Created: {{ comment.createdDate }}</p>
                    <p>Edited: {{ comment.editDate }}</p>
                    <hr>
                    <br>
                </div>
            </div>
            <div id="post-blog-text-spacer">
            </div>
        </div>
    </div>
</div>
