<div ng-controller='BlogCtrl' class='main-container' id="{{ page }}">
    <%= render partial: 'shared/navbar', locals: {nav_buttons: ['cv', 'profile', 'portfolio']} %>
    <div id="blog-body-container">
        <h1><%= @last_post.title %></h1>
    </div>
    <div class="frame" id="posts-list">
        <ul class="slidee">
            <%= @posts.each do |post| %>
                <li style="background-image: image-url(#{post.cover_image})">
                    <div><%= post[:title] %></div>
                    <div><%= post[:date] %></div>
                </li>
            <% end %>
        </ul>
    </div>
</div>
